/* Here is your custom css styles. */
.toc-widget {
    max-height: 70vh;
    overflow-y: auto;
}
.katex {
    font-size: 1em !important;
}

.katex-display {
    margin: 1em 0;
    overflow-x: auto;
}
/* Monokai Theme */

pre[class*="language-"] {
    background: #272822 !important;
    border-radius: 12px;
    padding: 18px;
    margin: 20px 0;
    overflow-x: auto;
}

code[class*="language-"] {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    color: #f8f8f2;
}

/* Monokai 语法色 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #75715e;
}

.token.keyword {
    color: #f92672;
}

.token.string {
    color: #e6db74;
}

.token.function {
    color: #a6e22e;
}
    
.token.number {
    color: #ae81ff;
}

.token.boolean {
    color: #ae81ff;
}

.token.operator {
    color: #f8f8f2;
}

.token.punctuation {
    color: #f8f8f2;
}

.token.class-name {
    color: #a6e22e;
}

.token.constant {
    color: #ae81ff;
}

/* ===== Matery 首页 Banner 纯暗色遮罩（无渐变） ===== */

.bg-cover {
    position: relative;
  }
  
  /* 纯黑半透明遮罩 */
  .bg-cover::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(58, 11, 146, 0.55);  /* 这里控制暗度 */
    z-index: 1;
    pointer-events: none;
  }
  
  /* 保证文字在上层 */
  .bg-cover > * {
    position: relative;
    z-index: 2;
  }
.bg-cover::after {
    background: none !important;
}

/* ===== Banner 头像（绝对定位居中） ===== */

.bg-cover {
    position: relative;
}

.banner-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.banner-avatar img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(255,255,255,0.9);
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}